body {
  background-image: url("../img/background.jpg");
  font-family: "Jetbrains Mono";
  overflow-x: hidden; /*Quitamos el scrollbar*/
}

.diseño-titulo {
  text-align: center;
  text-shadow: 3px 5px black;
  padding: 25px 0px 25px 0px;
  color: #fff;
}

.di-math {
  background-color: red;
  border-color: red;
  border-radius: 6px;
  font-weight: bold;
}

.di-fisica {
  background-color: red;
  border-color: red;
  border-radius: 6px;
  font-weight: bold;
}

.di-quimica {
  background-color: red;
  border-color: red;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
}
